/* You can add global styles to this file, and also import other style files */
/* TODO: install bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #222222;
}